@{
    ViewBag.Title = "VTCPro_ReportCreateCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet blue box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pie-chart"></i>BÁO CÁO TẠO MÃ - VTC PRO
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row" id="Rp_TransactionRefund">
            <div class="col-md-12">
                <div class="clear">
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12" id="divFromDate">
                        <label class="textDate control-label text-info"><i class="fa fa-calendar"></i><span id="txtFromDate">Từ Ngày</span></label>
                        <div class="date" id="datetimeFromDate">
                            <input type="text" data-date-format="DD/MM/YYYY" id="fromDate" class="form-control" name="datetimeFromDate" />
                            <span class="input-group-addon"><span class="fa fa-fw fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12" id="divToDate">
                        <label class="textDate control-label text-info"><i class="fa fa-calendar"></i>Đến Ngày</label>
                        <div class="date" id="datetimeToDate">
                            <input type="text" data-date-format="DD/MM/YYYY" id="toDate" class="form-control" name="datetimeToDate" />
                            <span class="input-group-addon"><span class="fa fa-fw fa-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-sm-6 col-xs-12" style="text-align:center">
                        <button id="btnSearch" class="btn blue" value="Tìm Kiếm">
                            <span class="glyphicon glyphicon-hand-right"></span>Tìm Kiếm
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <div id="dgrid" class="dataTables_wrapper form-inline" role="grid">
            <div id="ReportPartial"></div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimeFromDate').datetimepicker({
            pickTime: true
        });
        $('#datetimeToDate').datetimepicker({
            pickTime: true
        });
        var fromdate = '@string.Format("{0:dd/MM/yyyy}", ViewBag.fromDate)';
        var todate = '@string.Format("{0:dd/MM/yyyy}", ViewBag.toDate)';
        $('#datetimeFromDate').data("DateTimePicker").setDate(fromdate);
        $('#datetimeToDate').data("DateTimePicker").setDate(todate);

        $("#datetimeFromDate").on("dp.change dp.show", function (e) {
            $('#datetimeToDate').data("DateTimePicker").setMinDate(e.date);
        });
        $("#datetimeToDate").on("dp.change dp.show", function (e) {
            $('#datetimeFromDate').data("DateTimePicker").setMaxDate(e.date);
        });

        $("#btnSearch").click(function () {
            GetList();
        });
        GetList();
    });

    function GetList() {
        var parameters = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        Utils.Loading();
        var urlRequestAns = Utils.UrlRoot + "ReportVTCPro/VTCPro_ReportCreateCard_Partial";
        $.ajax({
            type: 'POST',
            url: urlRequestAns,
            data: parameters,
            success: function (data) {
                $("#ReportPartial").html(data);
                Utils.UnLoading();
            },
            error: function () {
                Utils.UnLoading();
                bootbox.alert("Hệ thống đang bận. Xin thử lại sau !");
            }
        });
    }
</script>