################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pay365/.vs/Pay365Wallet/v15/Server/sqlite3
