<appSettings>
  <clear/>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="UrlRoot" value="http://localhost:57022/"/>
  <add key="DOMAIN" value="http://localhost:57022/"/>

</appSettings>
