<connectionStrings>
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Pay365.BillingReport-20160822092749;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Pay365.BillingReport-20160822092749.mdf" />
	<add name="AdminReportConnectionString" connectionString="DmAW2HbPAivqsAfjNsV4kjmaVlwDRaWT6mV3W1ecXrQzQu5+/+e9fZQleY1ntdvQVti80hQ4MGzvNNGC7i8AyzUmkSgBjv0PzDWnJYIV7DQACBlx7EJXyPOLy9vePoX9"/>
	<add name="ReportDBConnectionString" connectionString="dohK5EB5qGf5EJ00/yq1wMjFCpDpJujxHHO0EDmC5BfPDybmtFPEkr9FxwhAdUG+psjurNbZUvqbL5kB8BJ8+Vg3Ptctkef6kPSWyMzScf8MXebFUnJetMjfkGvzKu/i"/>
</connectionStrings>