@{
    ViewBag.Title = "Báo cáo tổng hợp tài khoản";
}

<!-- /.row -->
<div class="portlet blue box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pie-chart"></i>BÁO CÁO TỔNG HỢP TÀI KHOẢN
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row" id="Rp_Account">
            <div class="col-md-12">
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="textDate control-label text-info"><i class="fa fa-calendar"></i>Từ Ngày</label>
                    <div class="input-icon date" id="datetimeFromDate">
                        <input type="text" data-date-format="DD/MM/YYYY" id="fromDate" class="form-control" name="datetimeFromDate" />
                        <span class="input-group-addon"><span class="fa fa-fw fa-calendar"></span></span>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="textDate control-label text-info"><i class="fa fa-calendar"></i>Đến Ngày</label>
                    <div class="input-icon date" id="datetimeToDate">
                        <input type="text" data-date-format="DD/MM/YYYY" id="toDate" class="form-control" name="datetimeToDate" />
                        <span class="input-group-addon"><span class="fa fa-fw fa-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group col-lg-4 col-md-4 col-xs-12 col-sm-12" style="text-align:center">
                    <button id="btnSearch" class="btn blue" style="" value="Tìm Kiếm">
                        <span class="glyphicon glyphicon-hand-right"></span>Tìm Kiếm
                    </button>
                </div>

                <div class="form-group col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <label class="control-label text-info"><i class="fa fa-times"></i>Kiểu dữ liệu</label>
                    <select class="form-control" id="ddlTypeData">
                        <option value="0">Chọn kiểu dữ liệu</option>
                        <option value="1">Tổng đăng ký</option>
                        <option value="2">Tổng kích hoạt</option>
                        <option value="3">Bảo mật</option>
                        <option value="4">Xác thực Email</option>
                        <option value="5">Chứng thực tài khoản</option>
                    </select>
                </div>

                <div class="form-group col-md-4 col-sm-6 col-xs-12 col-lg-4" style="">
                    <label class="control-label text-info" style="width:120px;"><i class="fa fa-line-chart"></i>Chọn biểu đồ</label>
                    <div class="selectBox" id="chooseChart">
                        <select id="ddlSelectChart" class="form-control">
                            <option value="0">Không hiển thị</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div id="dgrid" class="dataTables_wrapper form-inline" role="grid">
            <div id="ReportChart"></div>
            <div id="ReportPartial">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimeFromDate').datetimepicker({
            pickTime: false
        });
        $('#datetimeToDate').datetimepicker({
            pickTime: false
        });

        var fromdate = '@string.Format("{0:dd/MM/yyyy}", ViewBag.fromDate)';
        var todate = '@string.Format("{0:dd/MM/yyyy}", ViewBag.toDate)';
        $('#datetimeFromDate').data("DateTimePicker").setDate(fromdate);
        $('#datetimeToDate').data("DateTimePicker").setDate(todate);

        $("#datetimeFromDate").on("dp.change dp.show", function (e) {
            $('#datetimeToDate').data("DateTimePicker").setMinDate(e.date);
        });
        $("#datetimeToDate").on("dp.change dp.show", function (e) {
            $('#datetimeFromDate').data("DateTimePicker").setMaxDate(e.date);
        });
        GeneralReportAccount();

        $("#ddlSelectChart").change(function () {
            ChartAccount();
        });
        
        $("#btnSearch").click(function () {
            GeneralReportAccount();
        });
        $("#form").keypress(function (event) {
            if (event.which == 13) {
                GeneralReportAccount();
            }
        });
    });


</script>